In [ ]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [ ]:
df=pd.read_csv("/content/heart.csv")

In [ ]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
df[['RestingBP','MaxHR']].describe()

        RestingBP       MaxHR
count  918.000000  918.000000
mean   132.396514  136.809368
std     18.514154   25.460334
min      0.000000   60.000000
25%    120.000000  120.000000
50%    130.000000  138.000000
75%    140.000000  156.000000
max    200.000000  202.000000

In [ ]:
#value=146 refers to the null hypothesis value for the variable
ztest ,pvalue = stests.ztest(df['RestingBP'], x2=None, value=146)
print(float(pvalue))
print(ztest)

8.596542151858572e-110
-22.262179225347346

In [ ]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [ ]:
ztest,pval1=stests.ztest(df['RestingBP'],df['MaxHR'],value=100)
print(float(pval1))

0.0

In [ ]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected